<!DOCTYPE html>

<html>
  <head>
    <meta charset="UFT-8" />
    <meta http-equiv="X_UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Failed Registration</title>
  </head>
  <body>
    <div>
      <h4>Failed to register</h4>
      <p>Username was taken</p>
      <p>Have your Username and Password between 2 to 30 letters</p>
      <br />
      <p>Have your First Name or Last Name between 2 to 30 letters</p>
      <br />
      <p>Have your Email between 5 to 50 letters</p>
    </div>
    <a href="http://127.0.0.1:5000/login">
      <div>
        <h4>Go to Login</h4>
      </div>
    </a>
  </body>
</html>
