<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
    </head>

    <body>
        <form actions="register">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required="required"><br>
            
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required="required"><br>
            
            <label for="email">E-mail</label><br>
            <input type="email" id="email" name="email" required="required"><br>
            
            <label for="first_name">First Name</label><br>
            <input type="text" id="first_name" name="first_name" required="required"><br>
            
            <label for="last_name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name" required="required"><br>
            
            <label for="phone_number">Phone Number</label><br>
            <input type="text" id="phone_number" name="phone_number" required="required"><br>
            
            <label for="address_1">Address Line 1</label><br>
            <input type="text" id="address_1" name="address_1" required="required"><br>

            <label for="address_2">Address Line 2</label><br>
            <input type="text" id="address_2" name="address_2"><br>

            <label for="city">City</label><br>
            <input type="text" id="city" name="city" required="required"><br>

            <label for="state">State/Province</label><br>
            <input type="text" id="state" name="state" required="required"><br>

            <label for="country">Country</label><br>
            <input type="text" id="country" name="country" required="required"><br>

            <label for="zip_code">Zip Code</label><br>
            <input type="text" id="zip_code" name="zip_code" required="required"><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>